/* Write your code here. */
.emoji-game-con {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 8%;
}
.set-layout-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
