/* Write your code here. */
.win-lose-con {
  display: flex;
  border-radius: 10px;
  border: #ffffff33 1px solid;
  background-color: #ffffff33;
  margin-top: 14%;
  justify-content: space-around;
  padding: 20px;
}
.result-styling {
  color: #ffffff;
  font-size: 45px;
  font-weight: bold;
}
.score-styling {
  color: #6a59ff;
  font-size: 30px;
  font-weight: bold;
}
.play-again-btn {
  background-color: #ffce27;
  color: #3d3d3d;
  font-size: 18px;
  border-radius: 20px;
  padding: 15px;
  border: 0px #ffce27;
}
