* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.total-con {
  background-image: linear-gradient(to bottom, #9796f0, #fbc7d4);
  height: 110vh;
  background-size: cover;
  margin: 0;
}
.line {
  color: #ffffff;
  size: 0.5px;
}
